
.pie-pagina
{
      background-color: var(--negro);
      color: white;
      padding: 2%;
}
.pie-pagina .texto
{
      display: flex;
      justify-content: space-around;
      font-size: 1.2em;
      align-items: baseline;
      height: 9rem;
}
.parrafo
{
      width: 25%;
}
.icons
{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
}
.icons div
{
      display:flex;
      padding: 2%;
}
.politicas
{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2%;
}

.redes
{
      display: flex;
      justify-content: space-between;
      width: 30%;
      margin-top: 5%;
}
#direccionamiento1
{
      margin-left: 3%;
}

div#separador1 {
      margin-top: 13%;
  }

  /*Resolución tablet*/
@media screen and (min-width: 768px){
   
}


/*Resolución notebooks*/
@media screen and (min-width: 1024px){
      
      nav{
          display: flex;
          flex-direction: row; 
          width: 100%;
          justify-content: space-between;
          background-color: var(--negro2);
      }
      .logo{
          padding: 1rem;
      }
      .logo img{
          width: 100%;
          max-width: 180px;       
      }
      .logo i{ 
          display: none;
      } 
      .menu{
          background-color: var(--negro2);
          display: flex;
          flex-direction: row;
          align-items: center;
      }
      .menu-hr{ 
          display: none;
      }
      .navbar-button{
          background-color:var(--azuloscuro);
      }       
  }

  /*Resolución notebooks*/
@media screen and (min-width: 1308px){
      #descripcion{
            justify-content: center;
      }
    
}

  /*Resolución notebooks*/
  @media screen and (min-width: 320px) and (max-width : 768px){
      .logo{
            background-color: var(--negro2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            padding: 1%;
        }

        #textos1 p{
            font-size: 1rem;
        }
        
      .logo img{
            width: 100%;
          max-width: 200px;
      }
      .logo i{
            color: var(--blanco);
          font-size: 2rem;
      }
      .menu{
            background-color: rgba(1, 10, 52, 0.838);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
            
        }
        .menu-hr{
            width: 100%;
            background-color: var(--blanco);
        }
        .item{
        padding: 1rem;
                
      }
      nav a{
            color: var(--blanco);
            text-decoration: none;
            text-align: center;
        }
        
        .menu button{
            padding: 1rem;
            background-color:transparent;
            border: none;
            border-radius: 3px;
            font-size: 1em;
            padding: 0.5rem;
            font-family: 'Marcellus', serif;
            color: var(--blanco);
        }nav{
            display: flex;
            flex-direction: column;
            padding: 1%;
            background-color: #000;            
        }.menu{
            width: 100%;
            display: none;

        }

        .menu.active{
            display: flex;
            transform: translateY(0%);
        }

        nav a:hover{
            background-color: #0B3860;
            width: 100%;
        }



        div#textosl p {
            font-size: 1em;
            margin-top: -2%;
            width: 73%;
        }
      .menu-hr{
            width: 239%;
    margin-right: 120%;
    background-color: var(--blanco);
    margin-top: 16%;
      }

      #titulo h1{
            font-size: 1.5rem;
      }

      #opinion1{
            width: 75%;
      }

      #opinion{   
            display: none;
            
      }
      .nombre1 h5{           
       font-size: 0.9rem;
      }


      .pie-pagina .texto {
            display: flex;
            height: 40rem;
            flex-flow: column;
        }


      .parrafo{
            width: 107%;
      }

}





