.information-section {
    display: flex;
  }

  .information-zone {
    padding: 1em;
  }

  .information-image img {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    #information-section {
        display: flex;
        padding: 2em;
        justify-content: center;
        align-items: center;
      }
    
      .information-zone {
        width: 36em;
        align-self: center;
        font-size: 1.5em;
      }
    
      .information-image img {
        display: flex;
        align-items: center;
        width: 240px;
        height: 240px;
      }
  }