

@media only screen and (min-width: 320px) {
  .nav1 { width: 21%; color: var(--blanco); background-color: #0b3860; height: 131%; position: fixed; }
  .exit1 { /* height: 93%; */ margin-top: -212%; }
  .nav1 .logo1 {
    background-color: #0b3860;
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo1 .Imagen1 {
    width: 70%;
    height: 100px;
    padding-top: 10%;
    padding-bottom: 20%;
  }

  .usuario1 {
    display: none;
  }

  .menu1 {
    height: 73%;
    background-color: #303342 ;
  }

  .item1 {
    display: flex;
    flex-direction: column;
  }

  .nav1 .menu1 .item1 div {
    padding: 10px;
    font-size: 1.2em;
  }

  .nav1 .menu1 .item1 div:hover {
    background-color: var(--azuloscuro);
  }

  .nav1 .menu1 .item1 div a {
    display: none;
  }

  .nav1 .exit {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--negro2);
  }

  .nav1 .exit a {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav1 {
    width: 20%;
    color: var(--blanco);
    position: fixed;
    height: 500px;
  }

  .nav1 .logo1 {
    background-color: #0b3860;
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo1 .Imagen1 {
    width: 70%;
    padding-top: 10%;
    padding-bottom: 20%;
  }

  .usuario1 {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding-bottom: 10%;
  }

  .menu1 {
    height: 73%;
  }

  .item1 {
    display: flex;
    flex-direction: column;
  }

  .nav1 .menu1 .item1 div {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .nav1 .menu1 .item1 div:hover {
    background-color: var(--azuloscuro);
  }

  .nav1 .menu1 .item1 .color {
    background-color: var(--azuloscuro);
  }

  .nav1 .menu1 .item1 div a {
    display: flex;
    text-decoration: none;
    color: var(--blanco);
    padding-left: 1rem;
  }

  .nav1 .exit1 {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-size: 1.35rem;
    margin-top: -1%;
    background-color: var(--azulnegro);
}

  .nav1 .exit1 a {
    display: flex;
    text-decoration: none;
    color: var(--blanco);
    padding-left: 1rem;
  }
}
