#container-location {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      padding: 1em;
      text-align: center;
    }

    
  .location-tittle {
      color: var(--negro2);
      font-size: 2em;
      text-align: center;
    }
  
    .cont-maps {
      width: 100%;
      height: 20em;
    }
  
    .location-zone {
      display: flex;
      font-family: "Marcellus", serif;
      font-size: 1.5em;
      justify-content: center;
      line-height: 1em;
      flex-direction: column;
      padding-top: 1em;
    }
  
    .split-line {
      width: 70%;
      border-color: var(--azuloscuro);
      margin-left: 15%;
      /* width: 50%;
      border-color: var(--azuloscuro);
      text-align: center;
      margin-left: 25%; */
    }

    @media screen and (min-width: 1024px) {

      #information-section {
            display: flex;
            padding: 2em;
            justify-content: center;
            align-items: center;
          }
        
          .information-zone {
            width: 36em;
            align-self: center;
            font-size: 1.5em;
          }
        
          .information-image img {
            display: flex;
            align-items: center;
            width: 240px;
            height: 240px;
          }
        
          .container-location {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            padding: 2em;
            text-align: center;
          }
        
          .location-tittle {
            color: var(--negro2);
            font-size: 3em;
            padding: 1em;
          }
        
          .cont-maps {
            width: 100%;
            height: 35em;
          }
        
          .location-zone {
            display: flex;
            font-family: "Marcellus", serif;
            font-size: 2em;
            justify-content: center;
            line-height: 2em;
            flex-direction: column;
          }
    }