.cards-text {
      font-family: "Marcellus", serif;
      display: flex;
      color: var(--blanco);
      justify-content: center;
      font-size: 1em;
      background-color: var(--negro2);
      padding-bottom: 7%;
      padding-top: 2%;
    }
  
    .cards-container {
      position: relative;
      width: 90%;
      gap: 20px;
      display: flex;
      margin-top: -6%;
      margin-bottom: 5%;
      left: 3%;
      overflow: auto;
      padding: 8px;
    }
  
    .cards-profile {
      padding: 3%;
      background-image: url(./Group\ 200.svg);
      background-size: cover;
      border-radius: 5px;
      height: auto;
    }
  
    .container-name {
      color: var(--blanco);
      display: flex;
      font-family: "Marcellus", serif;
      flex-direction: row;
      width: 20em;
    }
  
    .cards-name img {
      width: 22%;
      color: var(--blanco);
      margin-left: -75%;
      border-radius: 50%;
    }
  
    .cards-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  
    .cards-description {
      color: var(--blanco);
    }

    @media screen and (min-width: 1024px) {
      .cards-text {
            font-family: "Marcellus", serif;
            display: flex;
            color: var(--blanco);
            justify-content: center;
            font-size: 2.1em;
            background-color: var(--negro2);
            padding-bottom: 7%;
            padding-top: 2%;
          }
        
          .cards-container {
            position: relative;
            width: 95%;
            display: flex;
            justify-content: space-around;
            gap: 1em;
            flex-direction: row;
            margin-top: -4.5%;
            margin-bottom: 5%;
            left: 3%;
            background-color: var(--degradado);
          }
        
          .cards-profile {
            width: 25%;
            padding: 2%;
            background-image: url(./Group\ 200.svg);
            background-size: cover;
            border-radius: 5px;
            height: auto;
          }
        
          .container-name {
            color: var(--blanco);
            font-family: "Marcellus", serif;
          }
        
          .cards-name {
            display: flex;
            /* flex-direction: column; */
            align-items: center;
            gap: 5px;
          }
        
          .cards-name img {
            width: 22%;
            color: var(--blanco);
            margin-left: -75%;
            border-radius: 50%;
          }
        
          .cards-description {
            color: var(--blanco);
          }

    }